.vs/
projects/
/**/obj/
Properties/
*.csproj
*.sln
*.bin
tools/MetaXRSimulator/*
!tools/MetaXRSimulator/put_simulator_here
**/*.pdb
output/
deps/LivePP
deps/assimp
netImgui.cfg
netImgui_2.cfg
*.blend1
deps/sdl
deps/fmod
!deps/fmod/fmod.sharpmake.cs
*.blend
game/data/raw
tools/TrenchBroom*
